<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestMK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7859793D1F19451A00259841</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78DC788C1F1795CA006C2B6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78DC78A01F1795CA006C2B6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
